body {
	font-family: arial, sans-serif;
	/*background-image: url(https://images.unsplash.com/photo-1526666923127-b2970f64b422?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);*/
	background-image: url(../img/background-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;

	background: #081539;
}

h1 {
	font-weight: 600;
	letter-spacing: 15px;
}

.row {
	justify-content: space-between;
	width: 95%;
	margin: 0 auto;
}

.col-sm {
	height: 41vh;
	margin: 0.2rem 0rem;
	padding: 0.4rem 0.5rem;
	position: relative;
	transition: 400ms ease all;

	/*#030d28*/
	background-color: #081539;
	border-top: 12px solid #68b3e2;
	border-left: 2px solid #68b3e2;
	border-right: 2px solid #68b3e2;
	border-bottom: 2px solid #68b3e2;

	background-color: rgba(74, 131, 167, 0.1);

	/*background-color: rgba(255, 255, 255, 0.8);*/
}

.col-sm.invisible-bg {
	background-color: transparent;
	padding: 0;
}

.col-sm > .inner-container .half {
	height: calc(50% - 5px);
	background-color: rgba(255, 255, 255, 0.8);
	padding: 1rem;
	margin: 5px 0;
}

.col-sm > .inner-container .half:first-child {
	margin-top: 0;
}

.col-sm > .inner-container .half:last-child {
	margin-bottom: 0;
}

.col-sm.half-vertical {
	height: calc(24vh);
}

.col-sm.half-vertical .col-content .no-data-found img {
	margin-top: 0.5rem;
	width: 20%;
}

.dot::after {
	content: '';
	border-radius: 50%;
	background-color: red;
	width: 8px;
	height: 8px;
	display: block;
	position: absolute;
	left: 16px;
	top: 17px;
	animation: dotPulse 1s infinite ease-in;
}

@keyframes dotPulse {
	0% {
		opacity: 1;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.3;
		transform: scale(1);
	}
	100% {
		opacity: 1;
		transform: scale(1.3);
	}
}

.col-sm h3 {
	font-size: 20px;
	color: #fff;
	font-weight: 600;
	padding: 2px 4px;
	padding-left: 22px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#68b3e2+1,ffffff+100&1+0,0+100 */
	background: -moz-linear-gradient(
		left,
		rgba(74, 131, 167, 1) 0%,
		rgba(74, 131, 167, 0.99) 1%,
		rgba(255, 255, 255, 0) 100%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		left,
		rgba(74, 131, 167, 1) 0%,
		rgba(74, 131, 167, 0.99) 1%,
		rgba(255, 255, 255, 0) 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to right,
		rgba(74, 131, 167, 1) 0%,
		rgba(74, 131, 167, 0.99) 1%,
		rgba(255, 255, 255, 0) 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68b3e2', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.col-sm h4 {
	font-size: 16px;
	color: #fff;
	margin-top: -6px;
	margin-bottom: -10px;
	padding: 2px 4px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#68b3e2+1,ffffff+64&1+0,0+64 */
	background: -moz-linear-gradient(
		left,
		rgba(74, 131, 167, 1) 0%,
		rgba(74, 131, 167, 0.98) 1%,
		rgba(255, 255, 255, 0) 64%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		left,
		rgba(74, 131, 167, 1) 0%,
		rgba(74, 131, 167, 0.98) 1%,
		rgba(255, 255, 255, 0) 64%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to right,
		rgba(74, 131, 167, 1) 0%,
		rgba(74, 131, 167, 0.98) 1%,
		rgba(255, 255, 255, 0) 64%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68b3e2', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.headline {
	text-align: center;
	color: #73b74b;
	padding: 0.5rem;
	margin-bottom: 0;
}

code {
	font-size: 70%;
	color: #fff;
	height: 90%;
	display: block;
}

.col-content {
	height: 88%;
	display: block;
	margin-top: 10px;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	filter: brightness(0.8) /* opacity(0.9)*/;
}

.col-content .no-data-found {
	color: red;
	text-align: center;
}

.col-content .no-data-found h5 {
	font-weight: 800;
}

.col-content .no-data-found img {
	width: 40%;
	margin-top: 3rem;
	animation: pulse 0.8s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

.col-content .refresh-interval {
	font-size: 10px;
	position: absolute;
	bottom: 32px;
	color: #fff;
}

@media screen and (min-width: 1600px) {
	.col-content:not(.no-inner-margin) {
		margin-top: 3rem;
	}

	.sm-inner-margin > .col-content {
		margin-top: 1rem;
	}
}

.col-content #airpressure > div,
.col-content #technical_issues > div {
	float: left;
}

.chart table {
	margin: 0 auto !important;
}

text {
	font-size: 14px;
}

g > g > text[text-anchor='middle'] {
	font-size: 16px;
}

.custom-control-label {
	color: #fff;
}

footer {
	display: flex;
	justify-content: space-between;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
	padding: 0.5rem 2.5rem;
	position: fixed;
	bottom: 0;
	width: 100%;

	background-color: rgba(74, 131, 167, 0.2);
	border-top: 2px solid #68b3e2;
}

footer p {
	margin: 0;
	padding: 0;
	font-weight: 800;
	color: #fff;
}

#webcam {
	display: block;
	position: relative;
	margin-top: 1rem;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	height: calc(100% - 50px);
}
