<html ng-app="mainApp">
	<head>
		<title>Misson Controla | Columbus Modul "Zuse One"</title>
		<meta charset="utf-8">
		
		<link rel="stylesheet" type="text/css" href="assets/bootstrap-4.2.1-dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">

		<script src="assets/angular.min.js"></script>
		<script src="js/angular.js"></script>
	</head>
	<body ng-controller="mainController">
	
		<header>
			<h1 class="headline text-light">MISSION CONTROL &dash; ZUSE ONE</h1>
		</header>

		<main>
			<div class="row">
				<div class="col-sm col-sm-2">
					<h3><span class="dot"></span>Temperature</h3>
					<h4>Inside</h4>
					<div class="col-content clearfix" id="temperature_inside">
					</div>
				</div>

				<div class="col-sm col-sm-2">
					<h3><span class="dot"></span>Temperature</h3>
					<h4>Outside</h4>
					<div class="col-content clearfix" id="temperature_outside">
					</div>
				</div>

				<div class="col-sm col-sm-2">
					<h3><span class="dot"></span>Air Quality</h3>
					<h4>Everywhere</h4>
					<div class="col-content clearfix" id="air_issues">
					</div>
				</div>

				<div class="col-sm col-sm-2">
					<h3><span class="dot"></span>Air Pressure</h3>
					<h4>Everywhere</h4>
					<div class="col-content clearfix" id="airpressure">
					</div>
				</div>

				<div class="col-sm col-sm-2">
					<h3><span class="dot"></span>Humidity</h3>
					<h4>Everywhere</h4>
					<div class="col-content clearfix" id="humidity">
					</div>
				</div>

				<!-- <div class="col-sm col-sm-2 invisible-bg">

					<div class="inner-container">
						<div class="half">
							<h3>Volume</h3>
							<div class="col-content clearfix" id="noise">
								<h4><span id="volume">40</span>dB</h4>
							</div>
							
						</div>
						<div class="half">
							<h3>Light</h3>
							<div class="col-content clearfix" id="light">
								ON/OFF
							</div>
							
						</div>
					</div>

				</div> -->
			</div>

			<div class="row">

				<div class="col-sm col-sm-3">
					<h3><span class="dot"></span>Console (<span id="console-entries">0</span> entries)</h3>
					<div class="col-content no-inner-margin">
						<code id="console">
						</code>
					</div>
				</div>

				<div class="col-sm col-sm-4">
					<h3><span class="dot"></span>Webcam</h3>
					<div class="col-content clearfix" id="webcam" style="background-image: url(img/IMG-20190429-WA0020.jpg)">
					</div>
				</div>

				<div class="col-sm col-sm-3">
					<h3><span class="dot"></span>Location/GPS</h3>
					<div class="col-content clearfix" id="location">
						
					</div>
				</div> 

				<div class="col-sm col-sm-1">

					<div class="inner-container">
						<h3>Control</h3>
						<div class="col-content">
							<div class="custom-control custom-switch">
							  <input type="checkbox" class="custom-control-input change-setting" id="setting-light">
							  <label class="custom-control-label" for="setting-light">Light</label>
							</div>

							<div class="custom-control custom-switch">
							  <input type="checkbox" class="custom-control-input change-setting" id="setting-ventilation">
							  <label class="custom-control-label" for="setting-ventilation">Ventilation</label>
							</div>

							<div class="custom-control custom-switch">
							  <input type="checkbox" class="custom-control-input change-setting" id="setting-electricity">
							  <label class="custom-control-label" for="setting-electricity">Electricity</label>
							</div>
						</div>
					</div>

				</div>
				
			</div>
		</main>

		<footer class="">
			<p>CURRENT USER: <span class="badge badge-dark">{{currentUser}}</span></p>
			<p>ACTIVE SYSTEM: <span class="badge badge-dark">MC-{{activeSystem}}</span></p>
			<p>TIME: <span class="badge badge-dark" id="date">--</span></p>
		</footer>



		<script src="assets/jquery.min.js"></script>
		<script src="assets/charts-loader.min.js"></script>
		
		<script src="js/logger.js"></script>
		<script src="js/Chart.js"></script>
		<script src="js/main.js"></script>
		<script src="js/time.js"></script>
		<script src="js/setting.js"></script>
	</body>
</html>
